.App {
  text-align: center;
  background-color: lightgray; /* Changed to lightgray for consistency */
  min-height: 100vh; /* Ensure the grey background covers the entire viewport */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: lightgray;
  color: black !important;
}

.alert {
  color: black !important;
}

.alert-primary {
  color: black !important;
}

.alert-secondary {
  color: black !important;
}

.App-header {
  background-color: lightgray; /* Changed to grey for consistency */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: lightgray;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}